{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>pyVerein</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Materialdesign -->
    <link rel="stylesheet" href="{% static 'app/css/material.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/material-icons/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/abel/abel.css' %}">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'app/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">

</head>
<body class="mdc-typography">
    <div class="main login">
        <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <span class="mdc-top-app-bar__title">{% trans 'Log In' %}</span>
                </section>
            </div>
        </header>
        <section class="main mdc-top-app-bar--fixed-adjust">
            <div class="form-block">
                <img src="{% static 'app/images/logo.png' %}" />
                {% if form.errors %}
                    <div class="alert alert-danger">{% trans 'Your username and password didnt match. Please try again.' %}</div>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <div class="alert alert-danger">{% trans 'Your account doesnt have access to this page. To proceed, please login with an account that has access.' %}
                        </div>
                    {% endif %}
                {% endif %}

                <form role="form" method="post" action="{% url 'login' %}" class="form-horizontal">
                    {% csrf_token %}
                    <div class="mdc-text-field">
                        <input type="text" id="username" name="username" class="mdc-text-field__input">
                        <label class="mdc-floating-label" for="username">
                            {% trans 'Username' %}
                        </label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <div class="mdc-text-field">
                            <input type="password" id="password" name="password" class="mdc-text-field__input">
                            <label class="mdc-floating-label" for="username">
                                {% trans 'Password' %}
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                    <div>
                        <button type="submit" class="mdc-button mdc-button--raised">{% trans 'Login' %}</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </form>
            </div>
        </section>
        {% include "app/_attributions.html" %}
        <footer id="page-footer">
            pyVerein by Jannik Heuer&nbsp;|&nbsp;<a href="javascript:showAttributions();" class="mdc-theme--on-primary">{% trans 'Attributions' %}</a>
        </footer>
    </div>
    <script src="{% static 'app/vendors/jquery/dist/jquery.min.js' %}"></script> 
    <script src="{% static 'app/js/material-components-web.js' %}"></script> 
    <script src="{% static 'app/js/material.js' %}"></script> 
</body>

<!--<body class="login">

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <img src="{% static 'app/images/logo.png' %}" />
            {% if form.errors %}
                <div class="alert alert-danger">{% trans 'Your username and password didnt match. Please try again.' %}</div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-danger">{% trans 'Your account doesnt have access to this page. To proceed, please login with an account that has access.' %}
                    </div>
                {% endif %}
            {% endif %}

            <form role="form" method="post" action="{% url 'login' %}" class="form-horizontal">
                {% csrf_token %}
                <h1>{% trans 'Log In' %}</h1>
                <div>
                    <input type="text" id="username" name="username" placeholder="{% trans 'Username' %}"
                           class="form-control">
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="{% trans 'Password' %}"
                           class="form-control">
                </div>

                <div>
                    <button type="submit" class="btn">{% trans 'Login' %}</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>


                <div>
                    pyVerein by Jannik Heuer - Theme based on Gentelella - Bootstrap Admin Template by <a
                        href="https://colorlib.com">Colorlib</a>
                </div>
            </form>
        </section>
    </div>
</div>

</body>-->

</html>