.login{
    .main{
        height: calc(100% - 64px - 65px);
        min-height: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .form-block{
            width: 20%;
            text-align: center;
        
            .mdc-text-field{
                width: 100%;
            }
        }

    }
}