{% load i18n %}
{% load widget_tweaks %}

{% csrf_token %}
<div class="heading mdc-typography--overline">
    {% trans 'Division' %}
</div>
<div class="form-group full-width">
    {% trans 'Name' as name_label%}
    {% include "utils/_textfield.html" with field=form.name label=name_label %}
</div>
<div class="heading mdc-typography--overline">
    {% trans 'Access restrictions' %}
</div>
<div class="form-group full-width">
    <label>
        {% trans 'User' %}
    </label>
</div>
<div class="form-group full-width">
    {% include "utils/_checkboxmultipleselect.html" with field=form.user %}
</div>
<div class="form-group full-width">
    <label>
        {% trans 'Groups' %}
    </label>
</div>
<div class="form-group full-width">
    {% include "utils/_checkboxmultipleselect.html" with field=form.groups %}
</div>