{% load i18n %}
{% load widget_tweaks %}

{% csrf_token %}
<div class="heading mdc-typography--overline">
    {% trans 'Division' %}
</div>
<div class="form-group full-width">
    {% trans 'Name' as name_label%}
    {% include "utils/_textfield.html" with field=form.name label=name_label %}
</div>
<div class="form-group full-width">
    {% trans 'Income account' as name_label%}
    {% include "utils/_textfield.html" with field=form.income_account label=name_label %}
</div>
<div class="form-group full-width">
    {% trans 'Debitor account' as name_label%}
    {% include "utils/_textfield.html" with field=form.debitor_account label=name_label %}
</div>
<div class="form-group full-width">
    {% trans 'Cost center' as name_label%}
    {% include "utils/_textfield.html" with field=form.cost_center label=name_label %}
</div>
<div class="form-group full-width">
    {% trans 'Cost object' as name_label%}
    {% include "utils/_textfield.html" with field=form.cost_object label=name_label %}
</div>
