{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/datatables.material.min.css' %}">
    
{% endblock %}

{% block page_title %}
    {% trans 'Cost center detail' %}
{% endblock %}

{% block title %}
    {{ costcenter.number }} {{ costcenter.name }}
{% endblock %}


{% block content %}
    <table id="transactions" class="mdl-data-table mdl-js-data-table mdl-data-table--non-linkable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Document number' %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Transaction text' %}</th>
                <th>{% trans 'Debit' %}</th>
                <th>{% trans 'Credit' %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost center' %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost object' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="{% url 'finance:transaction_detail' internal_number=transaction.internal_number %}" title="{% trans 'Show receipt' %}">
                            {{ transaction.document_number }}
                        </a>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ transaction.text }}
                    </td>
                    <td>
                        {{ transaction.debit|default_if_none:"" }}
                    </td>
                    <td>
                        {{ transaction.credit|default_if_none:"" }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {% if transaction.cost_center%}
                            <a href="{% url 'finance:costcenter_detail' pk=transaction.cost_center.pk %}" title="{% trans 'Show cost center' %}">
                                {{ transaction.cost_center.number }} {{ transaction.cost_center.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {% if transaction.cost_object%}
                            <a href="{% url 'finance:costobject_detail' pk=transaction.cost_object.pk %}" title="{% trans 'Show cost object' %}">
                                {{ transaction.cost_object.number }} {{ transaction.cost_object.name }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>{{ debit_sum|floatformat:2 }}</th>
                <th>{{ credit_sum|floatformat:2 }}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Saldo' %} {{ saldo }}</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <a href ="{% url 'finance:costcenter_list' %}" class="mdc-fab mdc-fab--absolute-bottom-left" aria-label="" title="{% trans 'Back' %}">
        <i class="mdc-fab__icon fa fa-arrow-left"></i>
    </a>
    <a href ="{% url 'finance:costcenter_edit' pk=costcenter.pk %}" class="mdc-fab mdc-fab--absolute-bottom-right" aria-label="" title="{% trans 'Edit' %}">
        <i class="mdc-fab__icon fa fa-pencil-alt"></i>
    </a>    
{% endblock %}
{% block foot %}
<!-- Datatables -->
<script src="{% static 'app/vendors/datatables.net/datatables.min.js' %}"></script>
<script src="{% static 'app/vendors/datatables.net/datatables.material.min.js' %}"></script>
<script>
    $(document).ready(function () {
        dt = $('#transactions').on('processing.dt', function (e, settings, processing) {
            $('#transactions').css('opacity', processing ? '0.3' : '1.0');
        }).DataTable({
            "processing": true,
            "serverSide": false,
            "language": {
                "sProcessing": "<i class='fa fa-spin fa-spinner fa-3x'></i>",
                "sEmptyTable": "{% trans 'sEmptyTable' %}",
                "sInfo": "{% trans 'sInfo' %}",
                "sInfoEmpty": "{% trans 'sInfoEmpty' %}",
                "sInfoFiltered": "{% trans 'sInfoFiltered' %}",
                "sInfoPostFix": "{% trans 'sInfoPostfix' %}",
                "sInfoThousands": "{% trans 'sInfoThousands' %}",
                "sLoadingRecords": "{% trans 'sLoadingRecords' %}",
                "sZeroRecords": "{% trans 'sZeroRecords' %}",
                "oPaginate": {
                    "sFirst": "{% trans 'sFirst' %}",
                    "sLast": "{% trans 'sLast' %}",
                    "sNext": "{% trans 'sNext' %}",
                    "sPrevious": "{% trans 'sPrevious' %}"
                },
                "oAria": {
                    "sSortAscending": "{% trans 'sSortAscending' %}",
                    "sSortDescending": "{% trans 'sSortDescending' %}"
                }
            },
        });
        // Search
        $("#transactions_filter").html('<div class="mdc-text-field"><input type="text" id="datatable-search" class="mdc-text-field__input"><label class="mdc-floating-label" for="datatable-search">{% trans 'sSearch' %}</label><div class="mdc-line-ripple"></div></div>');
        $("#datatable-search").on('keyup', function(e) {
            dt.search(this.value).draw();
        })

        // Itemsselect
        $("#transactions_length").html('<div class="mdc-select">' + $('#transactions_length select')[0].outerHTML + '<label class="mdc-floating-label">{% trans 'sLengthMenu' %}</label><div class="mdc-line-ripple"></div></div>');
        $(".mdc-select select").addClass("mdc-select__native-control");
        $('#transactions_length select').on('change', function (e) {
            dt.page.len(this.value).draw();
        });
        

        // Select
        select = new mdc.select.MDCSelect(document.querySelector('.mdc-select'));
        // Lineripple
        lineRipple = new mdc.lineRipple.MDCLineRipple(document.querySelector('.mdc-line-ripple'));
        // Textfield
        textField = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field'));
    });
</script>
{% endblock foot %}