{% extends 'app/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/datatables.material.min.css' %}">
{% endblock %}

{% block page_title %}
    {% trans 'Cost centers' %}
{% endblock %}

{% block title %}
    {% trans 'Cost centers' %}
{% endblock %}

{% block content %}
    <table id="costcenterlist" class="mdl-data-table dataTable"
            cellspacing="0"
            width="100%">
        <thead>
            <tr>
                <th>{% trans 'Cost center number' %}</th>
                <th>{% trans 'Cost center name' %}</th>
            </tr>
        </thead>
    </table>
    <a href ="{% url 'finance:costcenter_create' %}" class="mdc-fab mdc-fab--absolute-bottom-right" aria-label="">
        <i class="mdc-fab__icon fa fa-plus"></i>
    </a>
{% endblock %}

{% block foot %}
    <!-- Datatables -->
    <script src="{% static 'app/vendors/datatables.net/datatables.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net/datatables.material.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            dt = $('#costcenterlist').on('processing.dt', function (e, settings, processing) {
                $('#costcenterlist').css('opacity', processing ? '0.3' : '1.0');
            }).DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'finance:costcenter_apiList' %}",
                "language": {
                    "sProcessing": "<i class='fa fa-spin fa-spinner fa-3x'></i>",
                    "sEmptyTable": "{% trans 'sEmptyTable' %}",
                    "sInfo": "{% trans 'sInfo' %}",
                    "sInfoEmpty": "{% trans 'sInfoEmpty' %}",
                    "sInfoFiltered": "{% trans 'sInfoFiltered' %}",
                    "sInfoPostFix": "{% trans 'sInfoPostfix' %}",
                    "sInfoThousands": "{% trans 'sInfoThousands' %}",
                    "sLoadingRecords": "{% trans 'sLoadingRecords' %}",
                    "sZeroRecords": "{% trans 'sZeroRecords' %}",
                    "oPaginate": {
                        "sFirst": "{% trans 'sFirst' %}",
                        "sLast": "{% trans 'sLast' %}",
                        "sNext": "{% trans 'sNext' %}",
                        "sPrevious": "{% trans 'sPrevious' %}"
                    },
                    "oAria": {
                        "sSortAscending": "{% trans 'sSortAscending' %}",
                        "sSortDescending": "{% trans 'sSortDescending' %}"
                    }
                },
                "processing":
                    true,
                "columns":
                    [
                        {"data": "number"},
                        {"data": "name"},
                    ],
                "createdRow":
                    function (row, data, index) {
                        $(row).click(function () {
                            window.location = data.detail_url;
                        });
                    }
            });
            // Search
            $("#costcenterlist_filter").html('<div class="mdc-text-field"><input type="text" id="datatable-search" class="mdc-text-field__input"><label class="mdc-floating-label" for="datatable-search">{% trans 'sSearch' %}</label><div class="mdc-line-ripple"></div></div>');
            $("#datatable-search").on('keyup', function(e) {
                dt.search(this.value).draw();
            })

            // Itemsselect
            $("#costcenterlist_length").html('<div class="mdc-select">' + $('#costcenterlist_length select')[0].outerHTML + '<label class="mdc-floating-label">{% trans 'sLengthMenu' %}</label><div class="mdc-line-ripple"></div></div>');
            $(".mdc-select select").addClass("mdc-select__native-control");
            $('#costcenterlist_length select').on('change', function (e) {
                dt.page.len(this.value).draw();
            });
            

            // Select
            select = new mdc.select.MDCSelect(document.querySelector('.mdc-select'));
            // Lineripple
            lineRipple = new mdc.lineRipple.MDCLineRipple(document.querySelector('.mdc-line-ripple'));
            // Textfield
            textField = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field'));
        })
        ;
    </script>
{% endblock %}