html {
  height: 100%; }

body {
  display: flex;
  margin: 0px;
  padding-top: 0.1px;
  height: 100%;
  font-size: 16px; }

a {
  color: #d50000; }

div.main {
  width: 100%; }

section.main {
  min-height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
  margin-bottom: 60px; }

.fa {
  line-height: inherit; }

.mdc-list-item__graphic.fa {
  font-size: 1.2rem; }

.main-navigation .mdc-list-group__subheader {
  margin-left: 72px; }

.main-navigation .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-navigation .mdc-fab__logout {
  position: absolute;
  text-decoration: unset;
  top: calc(100% - 20px);
  left: 1rem; }

.mdc-top-app-bar .mdc-top-app-bar__title {
  font-size: 1.5rem; }

.mdc-top-app-bar .user-image {
  margin-left: 1rem;
  border-radius: 50%;
  height: 50px; }

div.dataTables_wrapper div.dataTables_length .mdc-select {
  width: 150px;
  margin-top: 15px; }

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0px; }

div.dataTables_wrapper div.dataTables_filter .mdc-text-field {
  width: 220px; }

div.dataTables_wrapper .mdl-data-table td,
div.dataTables_wrapper .mdl-data-table th {
  text-align: left;
  font-size: 16px; }

div.dataTables_wrapper .mdl-data-table td:hover {
  cursor: pointer; }

div.dataTables_wrapper .mdl-data-table--non-linkable td:hover {
  cursor: initial; }

.heading.mdc-typography--overline {
  font-size: 16px; }

.heading.mdc-typography--overline:not(:first-of-type) {
  margin-top: 30px; }

.main-narrow {
  padding-left: 24%;
  padding-right: 24%; }
  .main-narrow .mdc-input {
    width: 49%;
    min-width: 200px; }
  .main-narrow .full-width .mdc-input {
    width: 100%; }
  .main-narrow .form-submit {
    margin-top: 30px; }
  .main-narrow .detail-content {
    padding: 20px; }
    .main-narrow .detail-content .row {
      display: flex;
      margin-top: 5px; }
      .main-narrow .detail-content .row .field-title {
        width: 30%; }
      .main-narrow .detail-content .row .field-value {
        width: 70%; }

.mdc-text-field-helper-text {
  font-size: 16px; }

footer#page-footer {
  height: 65px;
  background: #2979FF;
  color: #FAFAFA;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem; }

.alert-minimalist {
  border-radius: 0px;
  padding: 10px;
  min-width: 300px;
  min-height: 50px;
  display: inline-flex !important;
  align-items: center;
  font-size: 1.2rem; }
  .alert-minimalist .mdc-button__icon {
    margin: 0px;
    width: auto;
    height: auto; }

.alert-minimalist.error {
  background-color: #d50000;
  border-color: #d50000;
  color: #FAFAFA; }
  .alert-minimalist.error .mdc-button__icon {
    color: #FAFAFA; }

.alert-minimalist.success {
  background-color: #00c853;
  border-color: #00c853;
  color: #212121; }
  .alert-minimalist.success .mdc-button__icon {
    color: #212121; }

.alert-minimalist.warning {
  background-color: #ffd600;
  border-color: #ffd600;
  color: #212121; }
  .alert-minimalist.warning .mdc-button__icon {
    color: #212121; }

.alert-minimalist.info {
  background-color: #0091ea;
  border-color: #0091ea;
  color: #212121; }
  .alert-minimalist.info .mdc-button__icon {
    color: #212121; }

.alert-minimalist.debug {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #212121; }
  .alert-minimalist.debug .mdc-button__icon {
    color: #212121; }
