{% extends 'app/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'app/vendors/c3/c3.min.css' %}">
{% endblock %}

{% block page_title %}
    {% trans 'Dashboard' %}
{% endblock %}

{% block title %}
    {% trans 'Dashboard' %}
{% endblock %}

{% block content %}
<div class="dashboard">

    <div class="mdc-card ">
        <h4 class="mdc-typography--headline4">{% trans 'Members' %}</h4>
        <div id="membersChart" width="400" height="400"></div>
    </div>

    <div class="mdc-card ">
        <h4 class="mdc-typography--headline4">{% trans 'Bank accounts' %}</h4>
        <div id="bankAccountsChart" width="400" height="400"></div>
    </div>
</div>

{% endblock %}

{% block foot %}
    <script src="{% static 'app/vendors/c3/d3.min.js' %}"></script>
    <script src="{% static 'app/vendors/c3/c3.min.js' %}"></script>
    <script>
        // Members
        memberRawData = [
            {% for division in divisions %} 
                {
                    'name': '{{ division.division__name|default_if_none:_("Not selected") }}', 
                    'members': {{ division.members }}
                },
            {% endfor %}
        ];
        memberData = [];
        memberSum = 0;
        memberRawData.forEach(function(val){
            memberData.push([val['name'], val['members']]);
            memberSum += val['members'];
        });
        var chart = c3.generate({
            bindto: '#membersChart',
            data: {
              columns: memberData,
              type: 'donut',
            },
            donut: {
                width: 70,
                title: memberSum,
                label: {
                  format: function (value, ratio, id) {
                    return value;
                  }
                }
            },
            tooltip: {
                format: {
                    value: function (value, ratio, id) {
                        return value;
                    }
                }
            },
            size: {
                height: 400,
                width: 400
            },
        });

        // Bankaccounts
        bankAccountsRawData = [
            {% for bank_account in bank_accounts %} 
                {
                    'name': '{{ bank_account.account__name }}', 
                    'debit': {{ bank_account.debit|stringformat:'0.2f' }},
                    'credit': {{ bank_account.credit|stringformat:'0.2f' }}
                },
            {% endfor %}
        ];
        bankAccountsData = [];
        bankAccountsSum = 0;
        bankAccountsRawData.forEach(function(val){
            balance = val['debit'] - val['credit'];
            bankAccountsData.push([val['name'], balance]);
            bankAccountsSum += balance;
        });
        var chart = c3.generate({
            bindto: '#bankAccountsChart',
            data: {
              columns: bankAccountsData,
              type: 'donut',
            },
            donut: {
                width: 70,
                title: bankAccountsSum + ' {{ global_preferences.Finance__currency }}',
                label: {
                    format: function (value, ratio, id) {
                        return value + ' {{ global_preferences.Finance__currency }}';
                    } 
                }
            },
            tooltip: {
                format: {
                    value: function (value, ratio, id) {
                        return value + ' {{ global_preferences.Finance__currency }}';
                    }
                }
            },
            size: {
                height: 400,
                width: 400
            },
        });

    </script>
{% endblock %}