{% extends 'app/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
{% endblock %}

{% block title %}
    {% trans 'Create cost object' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content data">
                    <form action="{% url 'finance:costobject_create' %}" method="POST" class="form-horizontal" data-toggle="validator" id="form">
                        {% csrf_token %}
                        <div class="page-header">
                            {% trans 'Cost object' %}
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Cost object number' %}</div>
                            <div class="col-md-5 value ">{% render_field form.number class+="form-control" data-next="id_name" autofocus="autofocus" %}<span class="help-block with-errors"></span></div>
                        
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Cost object name' %}</div>
                            <div class="col-md-5 value">{% render_field form.name class+="form-control" data-next="id_description" %}<span class="help-block with-errors"></span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Cost object description' %}</div>
                            <div class="col-md-5 value">{% render_field form.description class+="form-control" %}<span class="help-block with-errors"></span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-3">
                                <input type="submit" class="btn btn-success btn-block" value="{% trans 'Save' %}" />
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <a href="{% url 'finance:costobject_list' %}" class="btn btn-danger btn-block">{% trans 'Cancel' %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <!-- Validator -->
    <script src="{% static 'app/vendors/bootstrap-validator/dist/validator.min.js' %}"></script>
    <!-- Keys -->
    <script src="{% static 'app/js/keys.js' %}"></script>
    <script>
        $('#form').saveOnTimes();
        $('#form').nextOnEnter();
        $('#form').exitOnEsc("{% url 'finance:costobject_list' %}");
    </script>
{% endblock %}