{% extends 'app/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/datatables.material.min.css' %}">
{% endblock %}

{% block page_title %}
    {% trans 'Cost objects' %}
{% endblock %}

{% block title %}
    {% trans 'Cost objects' %}
{% endblock %}

{% block content %}
    <table id="costobjectlist" class="mdl-data-table dataTable"
        cellspacing="0"
        width="100%">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost object number' %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost object name' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for costobject in costobjects %}
                <tr data-costobject="{% url 'finance:costobject_detail' pk=costobject.pk %}">
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ costobject.number}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ costobject.name }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if perms.finance.add_costobject %}
    <a href="{% url 'finance:costobject_create' %}" class="mdc-fab mdc-fab--absolute-bottom-right" aria-label="" title="{% trans 'Add' %}" target="_blank">
        <i class="mdc-fab__icon fa fa-plus"></i>
    </a>
    {% endif %}
{% endblock %}

{% block foot %}<!-- Datatables -->
    <script src="{% static 'app/vendors/datatables.net/datatables.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net/datatables.material.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            dt = $('#costobjectlist').on('processing.dt', function (e, settings, processing) {
                $('#costobjectlist').css('opacity', processing ? '0.3' : '1.0');
            }).DataTable({
                "processing": true,
                "serverSide": false,
                "language": {
                    "sProcessing": "<i class='fa fa-spin fa-spinner fa-3x'></i>",
                    "sEmptyTable": "{% trans 'sEmptyTable' %}",
                    "sInfo": "{% trans 'sInfo' %}",
                    "sInfoEmpty": "{% trans 'sInfoEmpty' %}",
                    "sInfoFiltered": "{% trans 'sInfoFiltered' %}",
                    "sInfoPostFix": "{% trans 'sInfoPostfix' %}",
                    "sInfoThousands": "{% trans 'sInfoThousands' %}",
                    "sLoadingRecords": "{% trans 'sLoadingRecords' %}",
                    "sZeroRecords": "{% trans 'sZeroRecords' %}",
                    "oPaginate": {
                        "sFirst": "{% trans 'sFirst' %}",
                        "sLast": "{% trans 'sLast' %}",
                        "sNext": "{% trans 'sNext' %}",
                        "sPrevious": "{% trans 'sPrevious' %}"
                    },
                    "oAria": {
                        "sSortAscending": "{% trans 'sSortAscending' %}",
                        "sSortDescending": "{% trans 'sSortDescending' %}"
                    }
                },
            });
            // Search
            $("#costobjectlist_filter").html('<div class="mdc-text-field"><input type="text" id="datatable-search" class="mdc-text-field__input"><label class="mdc-floating-label" for="datatable-search">{% trans 'sSearch' %}</label><div class="mdc-line-ripple"></div></div>');
            $("#datatable-search").on('keyup', function(e) {
                dt.search(this.value).draw();
            })

            // Itemsselect
            $("#costobjectlist_length").html('<div class="mdc-select"><i class="mdc-select__dropdown-icon"></i>' + $('#costobjectlist_length select')[0].outerHTML + '<label class="mdc-floating-label">{% trans 'sLengthMenu' %}</label><div class="mdc-line-ripple"></div></div>');
            $(".mdc-select select").addClass("mdc-select__native-control");
            $('#costobjectlist_length select').on('change', function (e) {
                dt.page.len(this.value).draw();
            });
            $('tbody tr').click(function () {
                window.open($(this).data('costobject'));
            });
        })
        ;
    </script>
{% endblock %}