{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>pyVerein</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Materialdesign -->
    <link rel="stylesheet" href="{% static 'app/css/material.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/material-icons/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/abel/abel.css' %}">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'app/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'app/images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'app/images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'app/images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'app/images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'app/images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'app/images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'app/images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'app/images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'app/images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'app/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app/images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'app/images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="mdc-typography">
    <div class="inner">
        <div class="main login">
            <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <span class="mdc-top-app-bar__title">{% trans 'Log In' %}</span>
                    </section>
                </div>
            </header>
            <section class="main mdc-top-app-bar--fixed-adjust">
                <div class="form-block">
                    <img class="logo" src="{% static 'app/images/logo.png' %}" />
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% trans 'Your username and password didnt match. Please try again.' %}
                        </div>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <div class="alert alert-danger">
                                {% trans 'Your account doesnt have access to this page. To proceed, please login with an account that has access.' %}
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if wizard.steps.current == 'token' %}
                            <div>{% blocktrans %}Please enter the tokens generated by your token generator.{% endblocktrans %}</div>
                    {% elif wizard.steps.current == 'backup' %}
                        <div>
                            {% blocktrans %}Use this form for entering backup tokens for logging in. These tokens have been generated for you to print and keep safe. Please enter one of these backup tokens to login to your account.{% endblocktrans %}
                        </div>
                    {% endif %}
                    <form role="form" method="post" action="" class="form-login">
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        {% if wizard.steps.current == 'auth' %}
                            <div class="row">
                                <div class="mdc-text-field">
                                    <input type="text" id="auth-username" name="auth-username" class="mdc-text-field__input" required autofocus>
                                    <label class="mdc-floating-label" for="auth-username">
                                        {% trans 'Username' %}
                                    </label>
                                    <div class="mdc-line-ripple"></div>
                                </div>
                                <div class="mdc-text-field">
                                    <input type="password" id="auth-password" name="auth-password" class="mdc-text-field__input" required>
                                    <label class="mdc-floating-label" for="auth-password">
                                        {% trans 'Password' %}
                                    </label>
                                    <div class="mdc-line-ripple"></div>
                                </div>
                            </div>
                            <div class="form-submit">
                                <button type="submit" class="mdc-button mdc-button--raised" title="{% trans 'Login' %}">{% trans 'Login' %}</button>
                            </div>
                        {% elif wizard.steps.current == 'token' %}
                            <div class="row">
                                <div class="mdc-text-field">
                                    <input type="text" id="token-otp_token" name="token-otp_token" class="mdc-text-field__input" autofocus autocomplete="off" pattern="[0-9]{6}|[0-9]{8}">
                                    <label class="mdc-floating-label" for="token-otp_token">
                                        {% trans 'Code' %}
                                    </label>
                                    <div class="mdc-line-ripple"></div>
                                </div>
                            </div>
                            <div class="form-submit">
                                <button type="submit" class="mdc-button mdc-button--raised" title="{% trans 'Confirm' %}">{% trans 'Confirm' %}</button>
                                {% if wizard.steps.prev %}
                                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="mdc-button mdc-button">{% trans "Back" %}</button>
                                {% endif %}
                            </div>
                        {% elif wizard.steps.current == 'backup' %}
                            <div class="row">
                                <div class="mdc-text-field">
                                    <input type="text" id="backup-otp_token" name="backup-otp_token" class="mdc-text-field__input" autofocus autocomplete="off">
                                    <label class="mdc-floating-label" for="backup-otp_token">
                                        {% trans 'Code' %}
                                    </label>
                                    <div class="mdc-line-ripple"></div>
                                </div>
                            </div>
                            <div class="form-submit">
                                <button type="submit" class="mdc-button mdc-button--raised" title="{% trans 'Confirm' %}">{% trans 'Confirm' %}</button>
                                {% if wizard.steps.prev %}
                                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="mdc-button mdc-button">{% trans "Back" %}</button>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if backup_tokens %}
                            <div class="row">
                                <button name="wizard_goto_step" type="submit" value="backup" class="mdc-button mdc-button">{% trans "Use Backup Token" %}</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </section>
            {% include "app/_attributions.html" %}
            <footer id="page-footer">
                pyVerein by Jannik Heuer
            </footer>
        </div>
    </div>
    <script src="{% static 'app/vendors/jquery/dist/jquery.min.js' %}"></script> 
    <script src="{% static 'app/js/material-components-web.js' %}"></script> 
    <script src="{% static 'app/js/material.js' %}"></script> 
</body>

</html>
