{% extends 'app/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
    <!-- iCheck style -->
    <link rel="stylesheet" href="{% static 'app/vendors/iCheck/skins/square/blue.css' %}">
    <!-- DateRangePicker style -->
    <link rel="stylesheet" href="{% static 'app/vendors/datepicker/css/bootstrap-datepicker3.css' %}">
{% endblock %}

{% block title %}
    {% trans 'Create transaction' %}
{% endblock %}

{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="account_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="heading"></div>
                </div>
                <div class="modal-body">
                    <table id="account-list" class="table table-bordered table-striped table-hover dataTable"
                        cellspacing="0"
                        width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content data">
                    <form action="{% url 'finance:transaction_create' %}" method="POST" class="form-horizontal" data-toggle="validator" id="form">
                        {% csrf_token %}
                        <div class="page-header">
                            {% trans 'General' %}
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Date' %}</div>
                            <div class="col-md-5 value"><div class="input-group date">{% render_field form.date class+="form-control" data-next="id_document_number" autofocus="autofocus" %}<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span></div></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Document number' %}</div>
                            <div class="col-md-5 value ">{% render_field form.document_number class+="form-control" data-next="id_account" %}<span class="help-block with-errors"></span></div>
                        </div>
                        <div class="page-header">
                            {% trans 'Transaction' %}
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Account' %}</div>
                            <div class="col-md-5 value">{% render_field form.account class+="form-control" data-next="id_debit" data-info="info_account"%}<span class="help-block with-errors"></span></div>
                            <div class="col-md-4 info" id="info_account"><small><p clasS="text-muted"></p></small></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Debit' %}</div>
                            <div class="col-md-5 value">{% render_field form.debit class+="form-control" data-next="id_credit" %}<span class="help-block with-errors"></span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Credit' %}</div>
                            <div class="col-md-5 value">{% render_field form.credit class+="form-control" data-next="id_text" %}<span class="help-block with-errors"></span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Transaction text' %}</div>
                            <div class="col-md-5 value">{% render_field form.text class+="form-control" data-next="id_cost_center" %}<span class="help-block with-errors"></span></div>
                        </div>
                        <div class="page-header">
                            {% trans 'Costing' %}
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Cost center' %}</div>
                            <div class="col-md-5 value">{% render_field form.cost_center class+="form-control" data-next="id_cost_object" %}<span class="help-block with-errors"></span></div>
                            <div class="col-md-4 info" id="info_cost_center"><small><p clasS="text-muted"></p></small></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 field-title">{% trans 'Cost object' %}</div>
                            <div class="col-md-5 value">{% render_field form.cost_object class+="form-control" data-next="id_date" %}<span class="help-block with-errors"></span></div>
                            <div class="col-md-4 info" id="info_cost_object"><small><p clasS="text-muted"></p></small></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-3">
                                <input type="submit" class="btn btn-success btn-block" value="{% trans 'Save' %}" />
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <a href="{% url 'finance:impersonal_list' %}" class="btn btn-danger btn-block">{% trans 'Cancel' %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if transactions %}
                <div class="x_panel">
                    <div class="x_content data">
                        <table id="transactions" class="table table-bordered table-striped table-hover dataTable" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{% trans 'Account' %}</th>
                                    <th>{% trans 'Transaction text' %}</th>
                                    <th>{% trans 'Debit' %}</th>
                                    <th>{% trans 'Credit' %}</th>
                                    <th>{% trans 'Cost center' %}</th>
                                    <th>{% trans 'Cost object' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                    <tr>
                                        <td>
                                            {{ transaction.account.number }} {{ transaction.account.name }}
                                        </td>
                                        <td>
                                            {{ transaction.text }}
                                        </td>
                                        <td>
                                            {{ transaction.debit|default_if_none:"" }}
                                        </td>
                                        <td>
                                            {{ transaction.credit|default_if_none:"" }}
                                        </td>
                                        <td>
                                            {{ transaction.cost_center.number|default_if_none:"" }} {{ transaction.cost_center.name|default_if_none:"" }}
                                        </td>
                                        <td>
                                            {{ transaction.cost_object.number|default_if_none:"" }} {{ transaction.cost_object.name|default_if_none:"" }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                     </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block foot %}
    <!-- icheck -->
    <script src="{% static 'app/vendors/iCheck/icheck.js' %}"></script>

    <script type="application/javascript">
        $('input').iCheck({
            checkboxClass: 'icheckbox_square',
            increaseArea: '20%',
            radioClass: 'iradio_square-blue',
        });
    </script> 
    <!-- Validator -->
    <script src="{% static 'app/vendors/bootstrap-validator/dist/validator.min.js' %}"></script>

    <!-- Keys -->
    <script src="{% static 'app/js/keys.js' %}"></script>
    <script>
        $('#form').saveOnTimes();
        $('#form').nextOnEnter();
        {% if not transactions %}
            $('#form').exitOnEsc("{% url 'finance:impersonal_list' %}");
        {% endif %}
    </script>

    <!-- DatePicker -->
    <script src="{% static 'app/vendors/datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'app/vendors/datepicker/locales/bootstrap-datepicker.'|add:request.LANGUAGE_CODE|add:'.min.js' %}"></script>
    <script>
        $('.input-group.date').datepicker({
            language: "{{ request.LANGUAGE_CODE }}",
            autoclose: true,
            todayHighlight: true,
            showOnFocus: false
        });
    </script>
    
    <!-- Inputmask -->
    <script src="{% static 'app/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js' %}"></script>
    <script>
        $("#id_date").inputmask("99.99.9999");
    </script>

    <!-- Datatables -->
    <script src="{% static 'app/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <!-- Api -->
    <script>
        $('#id_account').focusout(function (){
            showAccountSelection('#id_account', '#info_account p', "{% url 'finance:account_search' search='###SEARCH###' %}", "{% trans 'Select account' %}", "{% trans 'Account number' %}", "{% trans 'Account name' %}")  
        });
        $('#id_cost_center').focusout(function (){
            showAccountSelection('#id_cost_center', '#info_cost_center p', "{% url 'finance:costcenter_search' search='###SEARCH###' %}", "{% trans 'Select cost center' %}", "{% trans 'Cost center number' %}", "{% trans 'Cost center name' %}")  
        });
        $('#id_cost_object').focusout(function (){
            showAccountSelection('#id_cost_object', '#info_cost_object p', "{% url 'finance:costobject_search' search='###SEARCH###' %}", "{% trans 'Select cost object' %}", "{% trans 'Cost object number' %}", "{% trans 'Cost object name' %}")  
        });

        function showAccountSelection(input_selector, info_selector, url, modal_header, number_heading, name_heading){
            var input_field = $(input_selector);
            var info_field = $(info_selector);
            if (input_field.val() != ""){
                $.getJSON(decodeURIComponent(url).replace("###SEARCH###", input_field.val()), function(data){
                    data = data['data'];
                    switch (data.length){
                        case 0: 
                            setAccount(input_field, input_field.val(), info_field, '');
                            input_field.focus();
                            input_field.parents('.form-group').addClass('has-error');
                            break;
                        case 1: 
                            input_field.parents('.form-group').removeClass('has-error');
                            setAccount(input_field, data[0]['number'], info_field, data[0]['name']);
                            break;
                        default: 
                            $('#account-list').DataTable({
                                'data': data,
                                'paging': false,
                                'searching': false,
                                'ordering':  false,
                                'info': false,
                                'autoWidth': false,
                                'destroy': true,
                                'columns':[
                                    {
                                        'data': null,
                                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                                            $(nTd).html('<a href="javascript:selectFromModal(\x27' + oData.number + '\x27, \x27' + oData.name + '\x27, \x27' + input_selector + '\x27, \x27' + info_selector + '\x27);"><i class="fa fa-check-circle"></i></a>');
                                        },
                                        'width': '42px',
                                        'className': 'text-center'
                                    },
                                    {
                                        'data': 'number',
                                        'title': number_heading
                                    },
                                    {
                                        'data': 'name',
                                        'title': name_heading
                                    },
                                    
                                ],
                            });
                            $('#account_modal .modal-header .heading').html(modal_header)
                            $('#account_modal').modal();
                            break;
                    }
                });
            }
        }
        function selectFromModal(number, name, input_selector, info_selector){
            var input_field = $(input_selector);
            var info_field = $(info_selector);
            setAccount(input_field, number,info_field, name);
            $('#account_modal').modal('hide');
            var next = $('#' + input_field.data('next'));
            next.focus();
        }
        function setAccount(input_field, field_val, info_field, info_val){
            input_field.val(field_val);
            info_field.html(info_val);
        }
    </script>
{% endblock %}