{% extends 'app/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/datatables.material.min.css' %}">
{% endblock %}

{% block page_title %}
    {% trans 'Create receipt' %}
{% endblock %}

{% block title %}
    {% trans 'Create receipt' %}
{% endblock %}

{% block content %}
    <div class="mdc-dialog" id="selection-dialog">
        <div class="mdc-dialog__scrim"></div>
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title">
                </h2>
                <section class="mdc-dialog__content">
                    <table id="selection-list" class="mdl-data-table dataTable"
                        cellspacing="0"
                        width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </section>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button mdc-button--outlined" title="{% trans 'Close' %}" data-mdc-dialog-action="close">{% trans 'Close' %}</button>
                </footer>
            </div>
        </div>
    </div>
    <div class="main form">
        <div class="detail-content  mdc-elevation--z4">
            <form action="{{ save_url }}" method="POST" class="form-horizontal" data-toggle="validator" id="form">
                {% csrf_token %}
                <div class="heading mdc-typography--overline">
                    {% trans 'General' %}
                </div>
                <div class="form-group">
                    {% trans 'Date' as date_label %}
                    {% include "utils/_textfield.html" with field=form.date label=date_label next='id_document_number' autofocus=True %}

                    {% trans 'Document number' as document_number_label %}
                    {% include "utils/_textfield.html" with field=form.document_number label=document_number_label next='id_account' %}
                </div>
                <div class="heading mdc-typography--overline">
                    {% trans 'Transaction' %}
                </div>
                <div class="form-group">
                    {% trans 'Account' as account_label %}
                    <div class="mdc-text-field mdc-input">
                        {% render_field form.account class+="mdc-text-field__input" data-next='id_debit' %}
                        <label class="mdc-floating-label" for="{{ field.id_for_label }}">
                            {{ account_label }}
                        </label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p id="info_account" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true"></p>
                </div>
                <div class="form-group">
                    {% trans 'Debit' as debit_label %}
                    {% include "utils/_textfield.html" with field=form.debit label=debit_label next='id_credit' %}
                    <div class="spacer">&nbsp;</div>
                </div>
                <div class="form-group">
                    {% trans 'Credit' as credit_label %}
                    {% include "utils/_textfield.html" with field=form.credit label=credit_label next='id_text' %}
                    <div class="spacer">&nbsp;</div>
                </div>
                <div class="form-group full-width">
                    {% trans 'Transaction text' as text_label %}
                    {% include "utils/_textfield.html" with field=form.text label=text_label next='id_cost_center' %}
                </div>
                <div class="heading mdc-typography--overline">
                    {% trans 'Costing' %}
                </div>
                <div class="form-group">
                    {% trans 'Cost center' as cost_center_label %}
                    {% include "utils/_textfield.html" with field=form.cost_center label=cost_center_label next='id_cost_object' %}
                    <p id="info_cost_center" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true"></p>
                </div>
                <div class="form-group">
                    {% trans 'Cost object' as cost_object_label %}
                    {% include "utils/_textfield.html" with field=form.cost_object label=cost_object_label %}
                    <p id="info_cost_object" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true"></p>
                </div>
                <div class="form-group form-submit">
                    <input type="submit" class="mdc-button mdc-button--raised" value="{% trans 'Save' %}" title="{% trans 'Save' %}" />
                    <a href="{% url 'finance:transaction_list' %}" class="mdc-button" title="{% trans 'Cancel' %}">{% trans 'Cancel' %}</a>
                </div>
            </form>
            <div class="heading mdc-typography--overline" style="margin-top:30px;">
                {% trans 'Corresponding transactions' %}
            </div>
            <table id="transactions" class="mdl-data-table dataTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Account' %}</th>
                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Transaction text' %}</th>
                        <th>{% trans 'Debit' %}</th>
                        <th>{% trans 'Credit' %}</th>
                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost center' %}</th>
                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost object' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, transaction in transactions.items %}
                        <tr data-step="{% url 'finance:transaction_create_step' step=key session_id=session_id%}">
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ transaction.account }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ transaction.text }}
                            </td>
                            <td>
                                {{ transaction.debit|floatformat:2|default_if_none:"" }}
                            </td>
                            <td>
                                {{ transaction.credit|floatformat:2|default_if_none:"" }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ transaction.cost_center|default_if_none:"" }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ transaction.cost_object|default_if_none:"" }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if transactions %}
        <div class="mdc-elevation--z4">
            
        </div>
    {% endif %}
{% endblock %}

{% block foot %}
    <!-- Keys -->
    <script src="{% static 'app/js/keys.js' %}"></script>
    <script>
        $('#form').saveOnTimes();
        $('#form').nextOnEnter();
    </script>
    
    <!-- Inputmask -->
    <script src="{% static 'app/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js' %}"></script>
    <script>
        $("#id_date").inputmask("99.99.9999");
    </script>

    <!-- Datatables -->
    <script src="{% static 'app/vendors/datatables.net/datatables.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net/datatables.material.min.js' %}"></script>
    <!-- Api -->
    <script>
        const selection_dialog = new mdc.dialog.MDCDialog(document.querySelector('#selection-dialog'));
        
        $('#id_account').focusout(function (){
            showAccountSelection('#id_account', '#info_account', "{% url 'finance:account_search' search='###SEARCH###' %}", "{% trans 'Select account' %}", "{% trans 'Account number' %}", "{% trans 'Account name' %}")  
        });
        $('#id_cost_center').focusout(function (){
            showAccountSelection('#id_cost_center', '#info_cost_center', "{% url 'finance:costcenter_search' search='###SEARCH###' %}", "{% trans 'Select cost center' %}", "{% trans 'Cost center number' %}", "{% trans 'Cost center name' %}")  
        });
        $('#id_cost_object').focusout(function (){
            showAccountSelection('#id_cost_object', '#info_cost_object', "{% url 'finance:costobject_search' search='###SEARCH###' %}", "{% trans 'Select cost object' %}", "{% trans 'Cost object number' %}", "{% trans 'Cost object name' %}")  
        });

        function showAccountSelection(input_selector, info_selector, url, modal_header, number_heading, name_heading){
            var input_field = $(input_selector);
            var info_field = $(info_selector);
            if (input_field.val() != ""){
                $.getJSON(decodeURIComponent(url).replace("###SEARCH###", input_field.val()), function(data){
                    data = data['data'];
                    switch (data.length){
                        case 0: 
                            setAccount(input_field, input_field.val(), info_field, '');
                            input_field.focus();
                            input_field.parents('.form-group').addClass('has-error');
                            break;
                        case 1: 
                            input_field.parents('.form-group').removeClass('has-error');
                            setAccount(input_field, data[0]['number'], info_field, data[0]['name']);
                            break;
                        default: 
                            $('#selection-list').DataTable({
                                'data': data,
                                'paging': false,
                                'searching': false,
                                'ordering':  false,
                                'info': false,
                                'autoWidth': false,
                                'destroy': true,
                                'columns':[
                                    {
                                        'data': null,
                                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                                            $(nTd).html('<a href="javascript:selectFromModal(\x27' + oData.number + '\x27, \x27' + oData.name + '\x27, \x27' + input_selector + '\x27, \x27' + info_selector + '\x27);" title="{% trans 'Select' %}"><i class="fa fa-check-circle"></i></a>');
                                        },
                                        'width': '42px',
                                        'className': 'text-center mdl-data-table__cell--non-numeric'
                                    },
                                    {
                                        'data': 'number',
                                        'title': number_heading,
                                        'className': 'mdl-data-table__cell--non-numeric'
                                    },
                                    {
                                        'data': 'name',
                                        'title': name_heading,
                                        'className': 'mdl-data-table__cell--non-numeric'
                                    },
                                    
                                ],
                            });
                            $('#selection-dialog .mdc-dialog__header__title').html(modal_header)
                            
                            selection_dialog.lastFocusedTarget = this;
                            selection_dialog.open();
                            break;
                    }
                });
            }
        }
        function selectFromModal(number, name, input_selector, info_selector){
            var input_field = $(input_selector);
            var info_field = $(info_selector);
            setAccount(input_field, number,info_field, name);
            selection_dialog.close();
            var next = $('#' + input_field.data('next'));
            next.focus();
        }
        function setAccount(input_field, field_val, info_field, info_val){
            input_field.val(field_val);
            info_field.html(info_val);
        }

        // Steps
        $('tr').on('click', function(){
            window.location = $(this).data('step');
        })
    </script>
{% endblock %}