{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/datatables.material.min.css' %}">
    
{% endblock %}

{% block page_title %}
    {% trans 'Receipt-Detail' %}
{% endblock %}

{% block title %}
    {% trans 'Receipt-Detail' %}
{% endblock %}

{% block content %}
    <aside class="mdc-dialog" id="reset-dialog">
        <div class="mdc-dialog__surface">
            <header class="mdc-dialog__header">
                <h2 class="mdc-dialog__header__title">
                    {% trans 'Reset clearing' %}
                </h2>
            </header>
            <section id="mdc-dialog-with-list-description" class="mdc-dialog__body">
                {% trans 'Do you really want to reset this clearing?' %}
            </section>
            <footer class="mdc-dialog__footer">
                <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel mdc-button--raised" title="{% trans 'Cancel' %}">{% trans 'Cancel' %}</button>
                <button type="button" class="mdc-button mdc-button" id="reset_button" title="{% trans 'Reset' %}">{% trans 'Reset clearing' %}</button>
            </footer>
        </div>
    </aside>
    <div class="main">
        <div class="detail-content mdc-elevation--z4">
            <div class="heading mdc-typography--overline">
                {% trans 'General' %}
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Date' %}</div>
                <div class="field-value">{{ date|default_if_none:"" }}</div>
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Document number' %}</div>
                <div class="field-value">{{ document_number|default_if_none:"" }}</div>
            </div>
        
            <div class="heading mdc-typography--overline">
                {% trans 'Transactions' %}
            </div>
            <div class="row">
                <table id="transactions" class="mdl-data-table mdl-js-data-table mdl-data-table--non-linkable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">{% trans 'Account' %}</th>
                            <th class="mdl-data-table__cell--non-numeric">{% trans 'Transaction text' %}</th>
                            <th>{% trans 'Debit' %}</th>
                            <th>{% trans 'Credit' %}</th>
                            <th>{% trans 'Cost center' %}</th>
                            <th>{% trans 'Cost object' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">
                                    {% if transaction.account.account_type == 'DEB' %}
                                        <a href="{% url 'finance:debitor_detail' pk=transaction.account.number %}" title="{% trans 'Show Account' %}" target="_blank">
                                            {{ transaction.account.number }}
                                        </a>
                                    {% endif %}
                                    {% if transaction.account.account_type == 'CRE' %}
                                        <a href="{% url 'finance:creditor_detail' pk=transaction.account.number %}" title="{% trans 'Show Account' %}" target="_blank">
                                            {{ transaction.account.number }}
                                        </a>
                                    {% endif %}
                                    {% if transaction.account.account_type == 'COS' or transaction.account.account_type == 'INC' or transaction.account.account_type == 'ASS' %}
                                        <a href="{% url 'finance:impersonal_detail' pk=transaction.account.number %}" title="{% trans 'Show Account' %}" target="_blank">
                                            {{ transaction.account.number }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    {{ transaction.text }}
                                </td>
                                <td>
                                    {{ transaction.debit|default_if_none:"" }}
                                </td>
                                <td>
                                    {{ transaction.credit|default_if_none:"" }}
                                </td>
                                <td>
                                    {% if transaction.cost_center.number %}
                                        <a href="{% url 'finance:costcenter_detail' pk=transaction.cost_center.number %}" title="{% trans 'Show cost center' %}" target="_blank">
                                            {{ transaction.cost_center.number }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                        {% if transaction.cost_object.number %}
                                        <a href="{% url 'finance:costobject_detail' pk=transaction.cost_object.number %}" title="{% trans 'Show cost object' %}" target="_blank">
                                            {{ transaction.cost_object.number }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if cleared_transactions %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Cleared transactions' %}
                </div>
                <div class="row">
                    <table id="cleared-transactions" class="mdl-data-table mdl-js-data-table mdl-data-table--non-linkable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">{% trans 'Account' %}</th>
                                <th class="mdl-data-table__cell--non-numeric">{% trans 'Document number' %}</th>
                                <th class="mdl-data-table__cell--non-numeric">{% trans 'Transaction text' %}</th>
                                <th>{% trans 'Debit' %}</th>
                                <th>{% trans 'Credit' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in cleared_transactions %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ transaction.account.number }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <a href="{% url 'finance:transaction_detail' internal_number=transaction.internal_number %}" title="{% trans 'Show receipt' %}">
                                            {{ transaction.document_number }}
                                        </a>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ transaction.text }}
                                    </td>
                                    <td>
                                        {{ transaction.debit|default_if_none:"" }}
                                    </td>
                                    <td>
                                        {{ transaction.credit|default_if_none:"" }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>

    <a href ="{% url 'finance:transaction_edit' internal_number=internal_number pk=transactions.0.pk%}" class="mdc-fab mdc-fab--absolute-bottom-right" aria-label="" title="{% trans 'Edit' %}">
        <i class="mdc-fab__icon fa fa-pencil-alt"></i>
    </a>
    {% if cleared_transactions %}
        <a href="#" id="btn-reset-clearing" class="mdc-fab mdc-fab--absolute-bottom-right second" aria-label="" title="{% trans 'Reset clearing' %}">
            <i class="mdc-fab__icon fa fa-eraser"></i>
        </a>
    {% endif %}
{% endblock %}

{% block foot %}{% if cleared_transactions %}
        <script>
            $(document).ready(function () {
                const reset_dialog = new mdc.dialog.MDCDialog(document.querySelector('#reset-dialog'));
                $('#reset_dialog_button').click(function() {
                });
                
                $('#reset_button').click(function() {
                    $.post("{% url 'finance:reset_cleared_transactions' %}", {"clearing_number": {{ clearing_number }}}, function (){
                        location.reload();
                    }, "json");
                });
                $.ajaxSetup({ 
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    } 
                });
                $("#btn-reset-clearing").click(function (){
                    reset_dialog.lastFocusedTarget = this;
                    reset_dialog.show();
                });
            });
            
            function getCookie(name){
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?

                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
    {% endif %}
{% endblock foot %}
