{% extends 'app/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/datatables.material.min.css' %}">
{% endblock %}

{% block page_title %}
    {% trans 'Edit receipt' %}
{% endblock %}

{% block title %}
    {% trans 'Edit receipt' %}
{% endblock %}

{% block content %}
    <div class="mdc-dialog" id="reset-dialog">
        <div class="mdc-dialog__scrim"></div>
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title">{% trans 'Reset Receipt' %}</h2>
                <section class="mdc-dialog__content">
                        {% trans 'Do you really want to reset this receipt?' %}
                </section>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" title="{% trans 'Cancel' %}" data-mdc-dialog-action="close">{% trans 'Cancel' %}</button>
                    <button type="button" class="mdc-button" id="reset_button" title="{% trans 'Reset' %}">{% trans 'Reset' %}</button>
                    <button type="button" class="mdc-button" id="reset_new_button" title="{% trans 'Reset & New' %}">{% trans 'Reset & New' %}</button>
                </footer>
            </div>
        </div>
    </div>
    <div class="main form">
        <div class="detail-content  mdc-elevation--z4">
            <form action="{{ save_url }}" method="POST" class="form-horizontal" data-toggle="validator" id="form">
                {% csrf_token %}
                <div class="heading mdc-typography--overline">
                    {% trans 'General' %}
                </div>
                    <div class="row">
                        <div class="field-title">{% trans 'Date' %}</div>
                        <div class="field-value">{{ transaction.date|default_if_none:"" }}</div>
                    </div>
                    <div class="row">
                        <div class="field-title">{% trans 'Document number' %}</div>
                        <div class="field-value">{{ transaction.document_number|default_if_none:"" }}</div>
                    </div>
                <div class="heading mdc-typography--overline">
                    {% trans 'Transaction' %}
                </div>
                <div class="row">
                    <div class="field-title">{% trans 'Account' %}</div>
                    <div class="field-value">{{ transaction.account.number }}</div>
                </div>
                <div class="row">
                    <div class="field-title">{% trans 'Debit' %}</div>
                    <div class="field-value">{{ transaction.debit|default_if_none:"" }}</div>
                </div>
                <div class="row">
                    <div class="field-title">{% trans 'Credit' %}</div>
                    <div class="field-value">{{ transaction.credit|default_if_none:"" }}</div>
                </div>
                <div class="form-group full-width">
                    {% trans 'Transaction text' as text_label %}
                    {% include "utils/_textfield.html" with field=form.text label=text_label next='id_cost_center' autofocus=True%}
                </div>
                <div class="heading mdc-typography--overline">
                    {% trans 'Costing' %}
                </div>
                <div class="form-group">
                    {% trans 'Cost center' as cost_center_label %}
                    {% include "utils/_textfield.html" with field=form.cost_center label=cost_center_label next='id_cost_object' %}
                    <p id="info_cost_center" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true"></p>
                </div>
                <div class="form-group">
                    {% trans 'Cost object' as cost_object_label %}
                    {% include "utils/_textfield.html" with field=form.cost_object label=cost_object_label %}
                    <p id="info_cost_object" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true"></p>
                </div>
                <div class="form-group form-submit">
                    <input type="submit" class="mdc-button mdc-button--raised" value="{% trans 'Save' %}" title="{% trans 'Save' %}" />
                    <a href="{% url 'finance:transaction_detail' internal_number=internal_number %}" class="mdc-button" title="{% trans 'Exit editing' %}">{% trans 'Exit' %}</a>
                </div>
            </form>
            <div class="heading mdc-typography--overline" style="margin-top:30px;">
                {% trans 'Corresponding transactions' %}
            </div>
            <table id="transactions" class="mdl-data-table dataTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Account' %}</th>
                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Transaction text' %}</th>
                        <th>{% trans 'Debit' %}</th>
                        <th>{% trans 'Credit' %}</th>
                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost center' %}</th>
                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost object' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td style="width: 15px;">
                                <a href="{% url 'finance:transaction_edit' internal_number=internal_number pk=transaction.pk %}">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ transaction.account.number }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ transaction.text }}
                            </td>
                            <td>
                                {{ transaction.debit|floatformat:2|default_if_none:"" }}
                            </td>
                            <td>
                                {{ transaction.credit|floatformat:2|default_if_none:"" }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ transaction.cost_center.number|default_if_none:"" }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ transaction.cost_object.number|default_if_none:"" }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="#" class="mdc-fab mdc-fab--absolute-bottom-right" id="reset_dialog_button" aria-label="" title="{% trans 'Reset receipt' %}">
        <i class="mdc-fab__icon fa fa-times"></i>
    </a>
{% endblock %}

{% block foot %}
    <!-- Keys -->
    <script src="{% static 'app/js/keys.js' %}"></script>
    <script>
        $('#form').saveOnTimes();
        $('#form').nextOnEnter();
    </script>
    
    <!-- Inputmask -->
    <script src="{% static 'app/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js' %}"></script>
    <script>
        $("#id_date").inputmask("99.99.9999");
    </script>

    <!-- Datatables -->
    <script src="{% static 'app/vendors/datatables.net/datatables.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net/datatables.material.min.js' %}"></script>
    <!-- Api -->
    <script>
        const reset_dialog = new mdc.dialog.MDCDialog(document.querySelector('#reset-dialog'));
        $('#reset_dialog_button').click(function() {
            reset_dialog.lastFocusedTarget = this;
            reset_dialog.open();
        });
        
        $('#reset_button').click(function() {
            window.location = "{% url 'finance:transaction_reset' internal_number=internal_number %}"
        });
        $('#reset_new_button').click(function() {
            window.location = "{% url 'finance:transaction_reset_new' internal_number=internal_number %}"
        });
    </script>
{% endblock %}