{% extends 'app/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/datatables.material.min.css' %}">
{% endblock %}

{% block page_title %}
    {% trans 'Transactions' %}
{% endblock %}

{% block title %}
    {% trans 'Transactions' %}
{% endblock %}

{% block content %}
    <table id="transactionlist" class="mdl-data-table mdl-js-data-table mdl-data-table--non-linkable"
            cellspacing="0"
            width="100%">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Date' %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Document number' %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Account' %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Transaction text' %}</th>
                <th>{% trans 'Debit' %}</th>
                <th>{% trans 'Credit' %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost center' %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost object' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ transaction.date}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="{% url 'finance:transaction_detail' internal_number=transaction.internal_number %}" title="{% trans 'Show receipt' %}" target="_blank">{{ transaction.document_number }}</a>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {% if transaction.account.account_type == "DEB" %}
                            <a href="{% url 'finance:debitor_detail' pk=transaction.account.pk %}" title="{% trans 'Show account' %}" target="_blank">{{ transaction.account.number }}</a>
                        {% endif %}
                        {% if transaction.account.account_type == "CRE" %}
                            <a href="{% url 'finance:creditor_detail' pk=transaction.account.pk %}" title="{% trans 'Show account' %}" target="_blank">{{ transaction.account.number }}</a>
                        {% endif %}
                        {% if transaction.account.account_type == "COS" or transaction.account.account_type == "INC" or transaction.account.account_type == "ASS"%}
                            <a href="{% url 'finance:impersonal_detail' pk=transaction.account.pk %}" title="{% trans 'Show account' %}" target="_blank">{{ transaction.account.number }}</a>
                        {% endif %}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ transaction.text }}
                    </td>
                    <td>
                        {{ transaction.debit|default_if_none:"" }}
                    </td>
                    <td>
                        {{ transaction.credit|default_if_none:"" }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {% if transaction.cost_center %}
                            <a href="{% url 'finance:costcenter_detail' pk=transaction.cost_center.pk %}" title="{% trans 'Show cost center' %}" target="_blank">{{ transaction.cost_center.number }}</a>
                        {% endif %}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                            {% if transaction.cost_object %}
                            <a href="{% url 'finance:costobject_detail' pk=transaction.cost_object.pk %}" title="{% trans 'Show cost object' %}" target="_blank">{{ transaction.cost_object.number }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if perms.finance.add_transaction %}
    <a href ="{% url 'finance:transaction_create' %}" class="mdc-fab mdc-fab--absolute-bottom-right" aria-label="" title="{% trans 'Add' %}" target="_blank">
        <i class="mdc-fab__icon fa fa-plus"></i>
    </a>
    {% endif %}
{% endblock %}

{% block foot %}<!-- Datatables -->
    <script src="{% static 'app/vendors/datatables.net/datatables.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net/datatables.material.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            dt = $('#transactionlist').on('processing.dt', function (e, settings, processing) {
                $('#transactionlist').css('opacity', processing ? '0.3' : '1.0');
            }).DataTable({
                "processing": true,
                "serverSide": false,
                "language": {
                    "sProcessing": "<i class='fa fa-spin fa-spinner fa-3x'></i>",
                    "sEmptyTable": "{% trans 'sEmptyTable' %}",
                    "sInfo": "{% trans 'sInfo' %}",
                    "sInfoEmpty": "{% trans 'sInfoEmpty' %}",
                    "sInfoFiltered": "{% trans 'sInfoFiltered' %}",
                    "sInfoPostFix": "{% trans 'sInfoPostfix' %}",
                    "sInfoThousands": "{% trans 'sInfoThousands' %}",
                    "sLoadingRecords": "{% trans 'sLoadingRecords' %}",
                    "sZeroRecords": "{% trans 'sZeroRecords' %}",
                    "oPaginate": {
                        "sFirst": "{% trans 'sFirst' %}",
                        "sLast": "{% trans 'sLast' %}",
                        "sNext": "{% trans 'sNext' %}",
                        "sPrevious": "{% trans 'sPrevious' %}"
                    },
                    "oAria": {
                        "sSortAscending": "{% trans 'sSortAscending' %}",
                        "sSortDescending": "{% trans 'sSortDescending' %}"
                    }
                },
            });
            // Search & Year
            accounting_year_select = '<div class="mdc-select" id="accounting_year_filter"><i class="mdc-select__dropdown-icon"></i><select id="year_filter" name="year_filter" class="form-control input-sm"><option value="0" {% if year.accounting_year == accounting_year %}selected="selected"{% endif %}>{% trans 'All' %}</option>{% for year in accounting_years %}<option value="{{ year.accounting_year }}" {% if year.accounting_year == accounting_year %}selected="selected"{% endif %}>{{ year.accounting_year }}</option>{% endfor %}</select><label class="mdc-floating-label">{% trans 'Accounting_year' %}</label><div class="mdc-line-ripple"></div></div>';
            $("#transactionlist_filter").html(accounting_year_select + '<div class="mdc-text-field"><input type="text" id="datatable-search" class="mdc-text-field__input"><label class="mdc-floating-label" for="datatable-search">{% trans 'sSearch' %}</label><div class="mdc-line-ripple"></div></div>');
            $("#datatable-search").on('keyup', function(e) {
                dt.search(this.value).draw();
            })
            $("#year_filter").change(function(e){
                window.location = "{% url 'finance:transaction_list' %}?year=" + this.value
            });

            // Itemsselect
            $("#transactionlist_length").html('<div class="mdc-select"><i class="mdc-select__dropdown-icon"></i>' + $('#transactionlist_length select')[0].outerHTML + '<label class="mdc-floating-label">{% trans 'sLengthMenu' %}</label><div class="mdc-line-ripple"></div></div>');
            $(".mdc-select select").addClass("mdc-select__native-control");
            $('#transactionlist_length select').on('change', function (e) {
                dt.page.len(this.value).draw();
            });
        });
    </script>
{% endblock %}