{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %}
    {% trans 'Change password' %}
{% endblock %}

{% block title %}
    {% trans 'Change password' %}
{% endblock %}

{% block content %}
    <div class="main-narrow account form">
        <div class="detail-content mdc-elevation--z4">

            <form action="{% url 'account:change_password' %}" method="POST" id="form">
                {% csrf_token %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Password' %}
                </div>
                <div class="form-group full-width">
                    {% trans 'Old password' as old_password_label %}
                    {% include "utils/_textfield.html" with field=form.old_password label=old_password_label next='id_new_password1' %}
                </div>
                <div class="form-group full-width">
                    {% trans 'New password' as new_password1_label %}
                    {% include "utils/_textfield.html" with field=form.new_password1 label=new_password1_label next='id_new_password2'  %}
                </div>
                <div class="form-group full-width">
                    {% trans 'Confirm password' as new_password2_label %}
                    {% include "utils/_textfield.html" with field=form.new_password2 label=new_password2_label next='id_email' %}
                </div>
                <div class="form-group form-submit">
                    <input type="submit" class="mdc-button mdc-button--raised" value="{% trans 'Change password' %}" title="{% trans 'Change password' %}" />
                    <a href="{% url 'account:detail' %}" class="mdc-button" title="{% trans 'Cancel' %}">{% trans 'Cancel' %}</a>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block foot %}
    <!-- Keys -->
    <script src="{% static 'app/js/keys.js' %}"></script>
    <script>
        $('#form').saveOnTimes();
        $('#form').nextOnEnter();
        $('#form').exitOnEsc("{% url 'account:detail' %}");
    </script>
{% endblock %}