{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% trans 'Userprofile' %}
{% endblock %}

{% block title %}
    {% trans 'Userprofile' %}
{% endblock %}

{% block content %}
    <div class="mdc-dialog" id="backup-tokens-dialog">
        <div class="mdc-dialog__scrim"></div>
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title">
                    {% trans 'Backup tokens' %}
                </h2>
                <section class="mdc-dialog__content">
                    <ul class="mdc-list">
                        {% for token in backup_device.token_set.all %}
                            <li class="mdc-list-item" tabindex="0">
                                <span class="mdc-list-item__text">{{ token.token }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button mdc-button--outlined" title="{% trans 'Close' %}" data-mdc-dialog-action="close">{% trans 'Close' %}</button>
                </footer>
            </div>
        </div>
    </div>
    <div class="main-narrow account">
        <div class="detail-content mdc-elevation--z4">
            <div class="row image">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="" class="user_image mdc-elevation--z4">
                {% else %}
                    <img src="{% static 'app/images/avatar.svg' %}" alt="" class="user_image mdc-elevation--z4">
                {% endif %}
                
            </div>
            <div class="heading mdc-typography--overline">
                {% trans 'Personal Data' %}
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Firstname' %}</div>
                <div class="field-value">{{ user.first_name|default_if_none:"" }}</div>
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Lastname' %}</div>
                <div class="field-value">{{ user.last_name|default_if_none:"" }}</div>
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Username' %}</div>
                <div class="field-value">{{ user.username|default_if_none:"" }}</div>
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Email' %}</div>
                <div class="field-value">{{ user.email }}</div>
            </div>
            <div class="heading mdc-typography--overline">
                {% trans 'Password' %}
            </div>
            <div class="row">
                <div class="field-title"><a href="{% url 'account:change_password' %}" class="mdc-button mdc-button--raised" title="{% trans 'Change password' %}">{% trans 'Change password' %}</a></div>
            </div>
            <div class="heading mdc-typography--overline">
                {% trans 'Two-Factor-Authentication' %}
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Status' %}</div>
                <div class="field-value">
                {% if default_device %}
                    {% if default_device_type == 'TOTPDevice' %}
                        {% trans 'Tokens will be generated by your token generator.' %}
                    {% endif %}
                {% else %}
                    <div class="alert">
                        {% trans 'Two-Factor-Authentication is not set up' %}
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Backup tokens' %}</div>
                <div class="field-value">
                    {% blocktrans %}If you don't have any device with you, you can access your account using backup tokens.{% endblocktrans %}<br/>
                    {% if backup_device %}
                        {% blocktrans count counter=backup_device.token_set.count %}You have only one backup token remaining.{% plural %}You have {{ counter }} backup tokens remaining.{% endblocktrans %}
                        <div>
                            <form action="{% url 'account:two_factor_backup_tokens' %}" method="post">{% csrf_token %}
                                <button class="mdc-button" type="button" title="{% trans 'Show backup tokens' %}" id="show-backup-tokens">{% trans 'Show' %}</button>
                                <button class="mdc-button" type="submit" title="{% trans 'Generate Tokens' %}">{% trans "Generate Tokens" %}</button>
                            </form>
                        </div>
                    {% else %}
                        {% blocktrans %}You have no backup codes set up.{% endblocktrans %} 
                        <div>
                            <form action="{% url 'account:two_factor_backup_tokens' %}" method="post">{% csrf_token %}
                                <button class="mdc-button" type="submit" title="{% trans 'Generate Tokens' %}">{% trans "Generate Tokens" %}</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% if default_device %}
                    <div class="field-title"><a href="{% url 'account:two_factor_disable' %}" class="mdc-button mdc-button--raised mdc-button--danger" title="{% trans 'Disable Two-Factor-Authentication' %}">{% trans 'Disable' %}</a></div>
                {% else %}
                    <div class="field-title"><a href="{% url 'account:two_factor_setup' %}" class="mdc-button mdc-button--raised" title="{% trans 'Activate Two-Factor-Authentication' %}">{% trans 'Activate' %}</a></div>
                {% endif %}
            </div>
            <div class="heading mdc-typography--overline">
                {% trans 'Additional information' %}
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Account created' %}</div>
                <div class="field-value">{{ user.date_joined|default_if_none:"" }}</div>
            </div>
            <div class="row">
                <div class="field-title">{% trans 'Last login' %}</div>
                <div class="field-value">{{ user.last_login|default_if_none:"" }}</div>
            </div>
        </div>
    </div>

    <a href ="{% url 'account:edit'%}" class="mdc-fab mdc-fab--absolute-bottom-right" aria-label="" title="{% trans 'Edit' %}">
        <i class="mdc-fab__icon fa fa-pencil-alt"></i>
    </a>
{% endblock %}

{% block foot %}
    <script>
        backup_tokens_dialog = new mdc.dialog.MDCDialog(document.querySelector('#backup-tokens-dialog'));
        $("#show-backup-tokens").click(function() {
            backup_tokens_dialog.open();
        });
    </script>
{% endblock %}