{% extends 'app/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}

{% endblock %}

{% block page_title %}
    {% trans 'Create member' %}
{% endblock %}

{% block title %}
    {% trans 'Create member' %}
{% endblock %}

{% block content %}
    <div class="main-narrow form">
        <div class="detail-content  mdc-elevation--z4">
            <form action="{% url 'members:member_create' %}" method="POST" id="form">
                {% include 'members/member/form_fields.html' %}
                <div class="form-group form-submit">
                    <input type="submit" class="mdc-button mdc-button--raised" value="{% trans 'Save' %}" title="{% trans 'Save' %}" />
                    <a href="{% url 'members:member_list' %}" class="mdc-button" title="{% trans 'Cancel' %}">{% trans 'Cancel' %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block foot %}<!-- Inputmask -->
    <script src="{% static 'app/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js' %}"></script>
    <script>
        $("#id_birthday").inputmask({
            mask:"99.99.9999",
            showMaskOnHover: false,
        });
        $("#id_joined_at").inputmask({
            mask:"99.99.9999",
            showMaskOnHover: false,
        });
        $("#id_terminated_at").inputmask({
            mask:"99.99.9999",
            showMaskOnHover: false,
        });
        $("#id_debit_mandate_at").inputmask({
            mask:"99.99.9999",
            showMaskOnHover: false,
        });
        $("#id_iban").inputmask({
            mask:"{{ global_preferences.Members__iban_format }}",
            showMaskOnHover: false,
        });
    </script>
    
    <!-- Keys -->
    <script src="{% static 'app/js/keys.js' %}"></script>
    <script>
        $('#form').saveOnTimes();
        $('#form').nextOnEnter();
    </script>
{% endblock %}