{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% load filename %}

{% block page_title %}
    {% trans 'Member-Detail' %}
{% endblock %}

{% block title %}
    {{ member.get_full_name }}
{% endblock %}

{% block head %}
    {% if perms.members.view_files %}
        <link rel="stylesheet" href="{% static 'app/vendors/dropzone.js/dropzone.min.css' %}">
        <!-- DataTables -->
        <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/material.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/datatables.material.min.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    {% if perms.members.view_files %}
        <div class="mdc-dialog" id="confirm-dialog">
            <div class="mdc-dialog__scrim"></div>
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title">
                        {% trans 'Delete file' %}
                    </h2>
                    <section class="mdc-dialog__content">
                        {% trans 'Do you really want to delete the file?' %}
                    </section>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button mdc-button--outlined" title="{% trans 'No' %}" data-mdc-dialog-action="close">{% trans 'No' %}</button>
                        <button type="button" class="mdc-button mdc-dialog__button mdc-button--outlined" title="{% trans 'Yes' %}" data-mdc-dialog-action="close" id="confirm">{% trans 'Yes' %}</button>
                    </footer>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="main-narrow form">
        <div class="detail-content mdc-elevation--z4">
            {% if perms.members.view_field_salutation or perms.members.view_field_first_name or perms.members.view_field_last_name or perms.members.view_field_birthday %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Personal Data' %}
                </div>
            {% endif %}
            {% if perms.members.view_field_salutation %}
                <div class="row">
                    <div class="field-title">{% trans 'Salutation' %}</div>
                    <div class="field-value">{{ member.get_salutation_display }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_first_name %}
                <div class="row">
                    <div class="field-title">{% trans 'Firstname' %}</div>
                    <div class="field-value">{{ member.first_name|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_last_name %}
                <div class="row">
                    <div class="field-title">{% trans 'Lastname' %}</div>
                    <div class="field-value">{{ member.last_name|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_birthday %}
                <div class="row">
                    <div class="field-title">{% trans 'Birthday' %}</div>
                    <div class="field-value">{{ member.birthday|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_street or perms.members.view_field_zipcode or perms.members.view_field_city %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Address' %}
                </div>
            {% endif %}
            {% if perms.members.view_field_street %}
                <div class="row">
                    <div class="field-title">{% trans 'Street' %}</div>
                    <div class="field-value">{{ member.street|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_zipcode %}
                <div class="row">
                    <div class="field-title">{% trans 'Zip-Code' %}</div>
                    <div class="field-value">{{ member.zipcode|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_city %}
                <div class="row">
                    <div class="field-title">{% trans 'City' %}</div>
                    <div class="field-value">{{ member.city|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_phone or perms.members.view_field_mobile or perms.members.view_field_fax or perms.members.view_field_email %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Contact' %}
                </div>
            {% endif %}
            {% if perms.members.view_field_phone %}
                <div class="row">
                    <div class="field-title">{% trans 'Phone' %}</div>
                    <div class="field-value">{{ member.phone|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_mobile %}
                <div class="row">
                    <div class="field-title">{% trans 'Mobile' %}</div>
                    <div class="field-value">{{ member.mobile|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_fax %}
                <div class="row">
                    <div class="field-title">{% trans 'Fax' %}</div>
                    <div class="field-value">{{ member.fax|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_email %}
                <div class="row">
                    <div class="field-title">{% trans 'EMail' %}</div>
                    <div class="field-value">{{ member.email|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_membership_number or perms.members.view_field_division or perms.members.view_field_joined_at or perms.members.view_field_terminated_at %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Membership' %}
                </div>
            {% endif %}
            {% if perms.members.view_field_membership_number %}
                <div class="row">
                    <div class="field-title">{% trans 'Membership number' %}</div>
                    <div class="field-value">{{ member.membership_number|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_division %}
                <div class="row">
                    <div class="field-title">{% trans 'Division' %}</div>
                    <div class="field-value">{{ member.division.name|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_joined_at %}
                <div class="row">
                    <div class="field-title">{% trans 'Joined at' %}</div>
                    <div class="field-value">{{ member.joined_at|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_terminated_at %}
                <div class="row">
                    <div class="field-title">{% trans 'Terminated at' %}</div>
                    <div class="field-value">{{ member.terminated_at|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_field_subscription %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Subscription' %}
                </div>
            {% endif %} 
            {% if perms.members.view_field_subscription %}
                <div class="row">
                    <div class="field-title">{% trans 'Subscription' %}</div>
                    <div class="field-value">
                        {% if member.subscription %}
                            {% for subscription in member.subscription.all %}
                                {{ subscription.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if perms.members.view_field_payment_method or perms.members.view_field_iban or perms.members.view_field_bic or perms.members.view_field_debit_mandate_at or perms.members.view_field_debit_reference %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Payment' %}
                </div>
            {% endif %}
            {% if perms.members.view_field_payment_method %}
                <div class="row">
                    <div class="field-title">{% trans 'Method' %}</div>
                    <div class="field-value">{{ member.get_payment_method_display }}</div>
                </div>
            {% endif %}
            {% if member.payment_method == 'DE' %}
                {% if perms.members.view_field_iban %}
                    <div class="row">
                        <div class="field-title">{% trans 'IBAN' %}</div>
                        <div class="field-value">{{ member.iban|default_if_none:"" }}</div>
                    </div>
                {% endif %}
                {% if perms.members.view_field_bic %}
                    <div class="row">
                        <div class="field-title">{% trans 'BIC' %}</div>
                        <div class="field-value">{{ member.bic|default_if_none:"" }}</div>
                    </div>
                {% endif %}
                {% if perms.members.view_field_debit_mandate_at %}
                    <div class="row">
                        <div class="field-title">{% trans 'Direct debit mandate granted at' %}</div>
                        <div class="field-value">{{ member.debit_mandate_at|default_if_none:"" }}</div>
                    </div>
                {% endif %}
                {% if perms.members.view_field_debit_reference %}
                    <div class="row">
                        <div class="field-title">{% trans 'Direct debit reference' %}</div>
                        <div class="field-value">{{ member.debit_reference|default_if_none:"" }}</div>
                    </div>
                {% endif %}
            {% endif %}
            {% if global_preferences.Members__show_additional_field_1 and perms.members.view_field_field_1 or global_preferences.Members__show_additional_field_2 and perms.members.view_field_field_2 or global_preferences.Members__show_additional_field_3 and perms.members.view_field_field_3 or global_preferences.Members__show_additional_field_4 and perms.members.view_field_field_4 or global_preferences.Members__show_additional_field_5 and perms.members.view_field_field_5 %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Additional Information' %}
                </div>
            {% endif %}
            {% if global_preferences.Members__show_additional_field_1 and perms.members.view_field_field_1 %}
                <div class="row">
                    <div class="field-title">{% trans 'Additional field 1' %}</div>
                    <div class="field-value">{{ member.field_1|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if global_preferences.Members__show_additional_field_2 and perms.members.view_field_field_2 %}
                <div class="row">
                    <div class="field-title">{% trans 'Additional field 2' %}</div>
                    <div class="field-value">{{ member.field_2|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if global_preferences.Members__show_additional_field_3 and perms.members.view_field_field_3 %}
                <div class="row">
                    <div class="field-title">{% trans 'Additional field 3' %}</div>
                    <div class="field-value">{{ member.field_3|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if global_preferences.Members__show_additional_field_4 and perms.members.view_field_field_4 %}
                <div class="row">
                    <div class="field-title">{% trans 'Additional field 4' %}</div>
                    <div class="field-value">{{ member.field_4|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if global_preferences.Members__show_additional_field_5 and perms.members.view_field_field_5 %}
                <div class="row">
                    <div class="field-title">{% trans 'Additional field 5' %}</div>
                    <div class="field-value">{{ member.field_5|default_if_none:"" }}</div>
                </div>
            {% endif %}
            {% if perms.members.view_files %}
                <div class="heading mdc-typography--overline">
                    {% trans 'Files' %}
                </div>
                <div class="row">
                    <table id="files" class="mdl-data-table mdl-js-data-table mdl-data-table--non-linkable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">{% trans 'Filename' %}</th>
                                <th class="mdl-data-table__cell--non-numeric">{% trans 'Action' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ file.file|filename }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <a href="{% url 'members:download_file' pk=file.pk %}" title="{% trans 'Download' %}">{% trans 'Download' %}</a>
                                        <form action="{% url 'members:delete_file' pk=file.pk %}" method="POST">{% csrf_token %}<a href="#" class="submit" title="{% trans 'Delete' %}">{% trans 'Delete' %}</a></form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <form action="{% url 'members:upload_file' pk=member.pk %}" method="POST" enctype="multipart/form-data" class="dropzone" id="file_upload">
                        <div class="dz-message">
                            <div class="drag-icon-cph">
                                <i class="mdc-fab__icon fa fa-upload"></i>
                            </div>
                            <h3>{% trans 'Drop files here or click to upload.' %}</h3>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    {% if perms.members.change_member %}
    <a href ="{% url 'members:edit' pk=member.pk %}" class="mdc-fab mdc-fab--absolute-bottom-right" aria-label="" title="{% trans 'Edit' %}">
        <i class="mdc-fab__icon fa fa-pencil-alt"></i>
    </a>
    {% endif %}
{% endblock %}
{% block foot %}
    {% if perms.members.view_files %}
        <!-- Cookie.js -->
        <script src="{% static 'app/js/cookie.js' %}"></script>
        <script src="{% static 'app/vendors/dropzone.js/dropzone.min.js' %}"></script>
        <script>
            const confirm_dialog = new mdc.dialog.MDCDialog(document.querySelector('#confirm-dialog'));
            Dropzone.options.fileUpload = {
                paramName: "file",
                uploadMultiple: false,
                headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
            }
            var file_form;
            
            $('a.submit').on('click', function(){
                file_form = $(this).parent();
                confirm_dialog.open();
            });
            $('button#confirm').on('click', function(){
                file_form.submit();
            })
        </script>
    {% endif %}
{% endblock %}