{% extends 'app/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net/datatables.material.min.css' %}">
{% endblock %}

{% block page_title %}
    {% trans 'Member-List' %}
{% endblock %}

{% block title %}
    {% trans 'Member-List' %}
{% endblock %}

{% block content %}
    <table id="memberslist" class="mdl-data-table dataTable"
        cellspacing="0"
        width="100%">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans 'Membership number' %}</th>
                {% if perms.members.view_field_last_name %}
                    <th class="mdl-data-table__cell--non-numeric">{% trans 'Lastname' %}</th>
                {% endif %}
                {% if perms.members.view_field_first_name %}
                    <th class="mdl-data-table__cell--non-numeric">{% trans 'Firstname' %}</th>
                {% endif %}
                {% if perms.members.view_field_street %}
                    <th class="mdl-data-table__cell--non-numeric">{% trans 'Street' %}</th>
                {% endif %}
                {% if perms.members.view_field_zipcode %}
                    <th class="mdl-data-table__cell--non-numeric">{% trans 'Zip-Code' %}</th>
                {% endif %}
                {% if perms.members.view_field_city %}
                    <th class="mdl-data-table__cell--non-numeric">{% trans 'City' %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="{% url 'members:member_detail' pk=member.pk %}" target="_blank">
                            {{ member.membership_number}}
                        </a>
                    </td>
                    {% if perms.members.view_field_last_name %}
                        <td class="mdl-data-table__cell--non-numeric">
                            {{ member.last_name}}
                        </td>
                    {% endif %}
                    {% if perms.members.view_field_first_name %}
                        <td class="mdl-data-table__cell--non-numeric">
                            {{ member.first_name }}
                        </td>
                    {% endif %}
                    {% if perms.members.view_field_street %}
                        <td class="mdl-data-table__cell--non-numeric">
                            {{ member.street }}
                        </td>
                    {% endif %}
                    {% if perms.members.view_field_zipcode %}
                        <td class="mdl-data-table__cell--non-numeric">
                            {{ member.zipcode }}
                        </td>
                    {% endif %}
                    {% if perms.members.view_field_city %}
                        <td class="mdl-data-table__cell--non-numeric">
                            {{ member.city }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if perms.members.add_member %}
    <a href ="{% url 'members:member_create' %}" class="mdc-fab mdc-fab--absolute-bottom-right" aria-label="" title="{% trans 'Add' %}" target="_blank">
        <i class="mdc-fab__icon fa fa-plus"></i>
    </a>
    {% endif %}
{% endblock %}

{% block foot %}<!-- Datatables -->
    <script src="{% static 'app/vendors/datatables.net/datatables.min.js' %}"></script>
    <script src="{% static 'app/vendors/datatables.net/datatables.material.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            dt = $('#memberslist').on('processing.dt', function (e, settings, processing) {
                $('#memberslist').css('opacity', processing ? '0.3' : '1.0');
            }).DataTable({
                "processing": true,
                "serverSide": false,
                "language": {
                    "sProcessing": "<i class='fa fa-spin fa-spinner fa-3x'></i>",
                    "sEmptyTable": "{% trans 'sEmptyTable' %}",
                    "sInfo": "{% trans 'sInfo' %}",
                    "sInfoEmpty": "{% trans 'sInfoEmpty' %}",
                    "sInfoFiltered": "{% trans 'sInfoFiltered' %}",
                    "sInfoPostFix": "{% trans 'sInfoPostfix' %}",
                    "sInfoThousands": "{% trans 'sInfoThousands' %}",
                    "sLoadingRecords": "{% trans 'sLoadingRecords' %}",
                    "sZeroRecords": "{% trans 'sZeroRecords' %}",
                    "oPaginate": {
                        "sFirst": "{% trans 'sFirst' %}",
                        "sLast": "{% trans 'sLast' %}",
                        "sNext": "{% trans 'sNext' %}",
                        "sPrevious": "{% trans 'sPrevious' %}"
                    },
                    "oAria": {
                        "sSortAscending": "{% trans 'sSortAscending' %}",
                        "sSortDescending": "{% trans 'sSortDescending' %}"
                    }
                },
            });
            // Search
            $("#memberslist_filter").html('<div class="mdc-text-field"><input type="text" id="datatable-search" class="mdc-text-field__input"><label class="mdc-floating-label" for="datatable-search">{% trans 'sSearch' %}</label><div class="mdc-line-ripple"></div></div>');
            $("#datatable-search").on('keyup', function(e) {
                dt.search(this.value).draw();
            })

            // Itemsselect
            $("#memberslist_length").html('<div class="mdc-select"><i class="mdc-select__dropdown-icon"></i>' + $('#memberslist_length select')[0].outerHTML + '<label class="mdc-floating-label">{% trans 'sLengthMenu' %}</label><div class="mdc-line-ripple"></div></div>');
            $(".mdc-select select").addClass("mdc-select__native-control");
            $('#memberslist_length select').on('change', function (e) {
                dt.page.len(this.value).draw();
            });
        });
    </script>
{% endblock %}