{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}
    {% trans 'Creditor detail' %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1>{{ creditor.number }} {{ creditor.name }} <small><a href="{% url 'finance:creditor_edit' creditor.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></small></h1>
                </div>
                <div class="x_content data">
                    
                </div>
            </div>
        </div>
    </div>{% endblock %}