{% load i18n %}
{% load widget_tweaks %}

{% csrf_token %}
<div class="page-header">
    {% trans 'Personal Data' %}
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Salutation' %}</div>
    <div class="col-md-5 value">
        {% for radio in form.salutation %}
            {{ radio.tag }} {{ radio.choice_label }}
        {% endfor %}
    </div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Firstname' %}</div>
    <div class="col-md-5 value ">{% render_field form.first_name class+="form-control" %}<span class="help-block with-errors"></span></div>

</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Lastname' %}</div>
    <div class="col-md-5 value">{% render_field form.last_name class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Birthday' %}</div>
    <div class="col-md-5 value date"><div class="input-group date">{% render_field form.birthday class+="form-control"%}<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span></div></div>
</div>

<div class="page-header">
    {% trans 'Address' %}
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Street' %}</div>
    <div class="col-md-5 value">{% render_field form.street class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Zip-Code' %}</div>
    <div class="col-md-5 value">{% render_field form.zipcode class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'City' %}</div>
    <div class="col-md-5 value">{% render_field form.city class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>

<div class="page-header">
    {% trans 'Contact' %}
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Phone' %}</div>
    <div class="col-md-5 value">{% render_field form.phone class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Mobile' %}</div>
    <div class="col-md-5 value">{% render_field form.mobile class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Fax' %}</div>
    <div class="col-md-5 value">{% render_field form.fax class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Email' %}</div>
    <div class="col-md-5 value">{% render_field form.email class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>

<div class="page-header">
    {% trans 'Membership' %}
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Membership number' %}</div>
    <div class="col-md-5 value">{% render_field form.membership_number class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Joined at' %}</div>
    <div class="col-md-5 value">{% render_field form.joined_at class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Terminated at' %}</div>
    <div class="col-md-5 value">{% render_field form.terminated_at class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>

<div class="page-header">
    {% trans 'Payment' %}
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Method' %}</div>
    <div class="col-md-5 value">{% render_field form.payment_method class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>

<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'IBAN' %}</div>
    <div class="col-md-5 value">{% render_field form.iban class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'BIC' %}</div>
    <div class="col-md-5 value">{% render_field form.bic class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Direct debit mandate granted at' %}</div>
    <div class="col-md-5 value">{% render_field form.debit_mandate_at class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Direct debit reference' %}</div>
    <div class="col-md-5 value">{% render_field form.debit_reference class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>


{% if global_preferences.Members__show_additional_field_1 or global_preferences.Members__show_additional_field_2 or global_preferences.Members__show_additional_field_3 or global_preferences.Members__show_additional_field_4 or global_preferences.Members__show_additional_field_5 %}
<div class="page-header">
    {% trans 'Additional Information' %}
</div>
{% endif %}
{% if global_preferences.Members__show_additional_field_1 %}
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Additional field 1' %}</div>
    <div class="col-md-5 value">{% render_field form.field_1 class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
{% endif %}
{% if global_preferences.Members__show_additional_field_2 %}
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Additional field 2' %}</div>
    <div class="col-md-5 value">{% render_field form.field_2 class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
{% endif %}
{% if global_preferences.Members__show_additional_field_3 %}
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Additional field 3' %}</div>
    <div class="col-md-5 value">{% render_field form.field_3 class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
{% endif %}
{% if global_preferences.Members__show_additional_field_4 %}
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Additional field 4' %}</div>
    <div class="col-md-5 value">{% render_field form.field_4 class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
{% endif %}
{% if global_preferences.Members__show_additional_field_5 %}
<div class="form-group">
    <div class="col-md-3 field-title">{% trans 'Additional field 5' %}</div>
    <div class="col-md-5 value">{% render_field form.field_5 class+="form-control" %}<span class="help-block with-errors"></span></div>
</div>
{% endif %}
<div class="form-group">
    <div class="col-md-2 col-md-offset-3">
        <input type="submit" class="btn btn-success btn-block" value="{% trans 'Save' %}" />
    </div>
    <div class="col-md-2 col-md-offset-1">
        <a href="{% url 'members:list' %}" class="btn btn-danger btn-block">{% trans 'Cancel' %}</a>
    </div>
</div>