{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}
    {% trans 'Debitor detail' %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1>{{ debitor.number }} {{ debitor.name }} <small><a href="{% url 'finance:debitor_edit' debitor.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></small></h1>
                </div>
                <div class="x_content data">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                
                            </th>
                        </tr>
                        
                    </table>
                    {% for transaction in transactions %}
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>{% endblock %}